<!DOCTYPE html>
<html>

<head>
    <title>Nepal at That Time</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <div class="top-navigation">
        <nav class="nav">
            <!--Upper links for explore About and contacts-->
            <ul>
                <a class="top-logo" href="#">LOGO</a>&nbsp; &nbsp; &nbsp;
                <!-- <img class="khukuri" src="images/khukuri.jpg" alt="National Weapon"> -->
                <a class="top-explore" href="#explore-more">Explore</a>&nbsp; &nbsp; &nbsp;
                <a class="top-about" href="">About</a>&nbsp; &nbsp;&nbsp; &nbsp;
                <a class="top-contact" href="#Contact-me">Contact</a>&nbsp; &nbsp; &nbsp; &nbsp;
            </ul>
        </nav>
    </div>

    <header class="top-heading">
        <h1 id="">Gurkhas of Nepal</h1>
        <p class=""><strong>“If I had Gurkhas, no army in the world could defeat me.” -<em> Adolf Hitler</em></strong>
        </p>
    </header>

    <!-- <div class="king">
            <figure>
                <img class="main-image0" src="images/king1.jpg" alt="Ancient Nepal area was 147,516 km.sq.(PrithiviNSH)" title="King Prithivi Narayan Shah" style="color: white">
                <img class="main-image1" src="images/king2.jpg" alt="King Mahendra" title="King Mahendra">
                <img class="main-image2" src="images/king3.jpg" alt="King Birendra" title="King Birendra">
            </figure>
        </div> -->

    <!-- <div class="dark-mode">
        <p>Dark mode</p>
        <label class="switch">
            <input type="checkbox">
        </label>
    </div> -->


    <main>
        <div class="timeline">
            <!--Different section created for Timeline of nepal-->
            <article>
                <!--Article is same as newspaper article, contains heading, written by, dates etc-->
                <header>
                    <h2 class="head3">Timeline of Nepal</h2>
                    <p class="head3"><em>By: Ancient history writer</em></p>
                </header>
                <ul>
                    <li><strong>1767</strong> -The Battle of Kirtipur is also known for its vicious fighting and intense cruelty</li>
                    <li><strong>1815 - 1816</strong> The Anglo-Nepalese War was the treaty that established the boundary line of Nepal and was signed between the East India Company and King of Nepal</li>
                    <li><strong>1923</strong> - The United Kingdom and Nepal formally signed an agreement of friendship that superseded the Sugauli Treaty of 1816</li>
                    <li><strong>1924</strong> - Legalized slavery was abolished in Nepal but an estimated 234,600 people are enslaved in modern-day Nepal</li>
                    <li><strong>1996</strong> - The Communist Party of Nepal started a violent bid to replace the royal parliamentary system with a people's republic. This led to the long Nepali Civil War and more than 12,000 deaths</li>
                    <li><strong>2007 - 2008</strong> A bill was passed in parliament to amend the constitution – replacing "Provisions regarding the King" by "Provisions of the Head of the State" – declaring Nepal a federal republic</li>
                    <li><strong>2015</strong> - A magnitude 7.8 earthquake struck Nepal and two weeks later, on 12 May, another earthquake with a magnitude of 7.3 hit Nepal, which left more than 8,500 people dead and about 21,000 injured</li>
                </ul>
                <footer class="head3">
                    <em>Published: August 12, 2003</em>
                </footer>
            </article>
        </div>

        <div class="history-of-nepal">
            <!--description of history of nepal-->
            <article>
                <header>
                    <h2 class="ancient-nepal">Ancient Nepal</h2>
                </header>
                <img class="gnepal" src="/images/greaternepal.jpeg" alt="Nepal ancient area = 147,513 sq.km." title="Ancient Nepal">
                <p class="history-description"><strong><h1 style="display: inline;">A</h1>ccording</strong> to Hindu mythology, Nepal derives its name from an ancient Hindu sage called Ne, referred to variously as Ne Muni or Nemi. According to Pashupati Purana, as a place protected
                    by Ne, the country in the heart of the Himalayas came to be known as Nepal. Nepal’s rich prehistory consists mainly of the legendary traditions of the Newar, the indigenous community of Nepal Valley (now usually called Kathmandu Valley).
                    There are usually both Buddhist and Brahmanic Hindu versions of these various legends. Both versions are accepted indiscriminately in the festivals associated with legendary events, a tribute to the remarkable synthesis that has been
                    achieved in Nepal between the two related but divergent value systems. Despite being a small nation, Nepal has always been a sovereign nation. And that is the reason why Nepal does not have an Independence Day, unlike many other nations.
                    Nepal is also the oldest country in South Asia.
                </p>
                <a class="read-more" href="#">....Read more</a>
            </article>
        </div>
    </main>

    <!-- takes you to top without scrooling -->
    <!-- <a class="back-to-top" href="#top">↑</a> -->

    <!--here comes the footer tag used at last of the page-->
    <footer class="itisfoot">
        <!-- <hr class="first-hr">
        <hr class="second-hr">
        <hr class="third-hr">
        <hr class="fourth-hr"> -->
        <div class="footer">
            <div class="footer-explore">
                <div id="explore-more">
                    <h3>Explore</h3>
                    <ul>
                        <li><a href="https://www.oyorooms.com/blog/historical-places-of-nepal/" target="_blank">Nepal Historical Places</a></li>
                        <li><a href="https://en.wikipedia.org/wiki/Shah_dynasty" target="_blank">Nepal's Kingdom</a></li>
                    </ul>
                </div>

                <div id="more-articles">
                    <h3 class="">More articles about ancient Nepal</h3>
                    <ul>
                        <li><a class="" href="#">How was Nepal formed?</a></li>
                        <li><a class="" href="#">Prithivi Narayan Shah attacks</a></li>
                        <li><a class="" href="#">Gautam Buddha</a></li>
                    </ul>
                </div>
            </div>

            <div id="Contact-me">
                <!-- <div class="contact-details">
                    <p class="address">
                        <address>
                            Ancient Nepal's Museum<br>
                            2017 Prithivi HighWay<br>
                            Pokhara, Gandaki State 33700
                        </address>
                    </p>
                </div> -->

                <!--navigation links to different social medias-->
                <div class="media">
                    <nav class="">
                        <ul>
                            <a href="https://www.facebook.com/" target="_blank"><img class="fb" src="/images/fblinking.jpg"></a>
                            <a href="https://www.twitter.com/" target="_blank"><img class="twt" src="/images/twtlinking.png"></a>
                            <a href="https://www.instagram.com/" target="_blank"><img class="insta" src="/images/instalinking.jpg"></a>
                            <!-- <p class="email"><a href="mailto:sabin.panthi.98@gmail.com?subject=Hi%20There!!" class="">M</a></p> -->
                        </ul>
                    </nav>
                </div>
            </div>
            <div class="terms-and-footnote">
                <a class="terms" href="#">Terms & Conditions</a>
                <a class="privacy" href="#">Privacy</a>
                <p id="copyright"><small>&copy; Nepal's Kingdoms can't be copied!!</small></p><br>
            </div>
        </div>
    </footer>
</body>

</html>
